
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Master</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial;
            margin: 0;
        }

       

        .footer {
            background-color: seagreen;
            color: white;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
        }
    </style>
</head>
<body>
    <div>
        <div class="header">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Company</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("Home","Home")</li>
                        <li>@Html.ActionLink("About", "About")</li>
                        <li>@Html.ActionLink("Product", "Product")</li>
                        <li>@Html.ActionLink("Contact", "Contact")</li>
                    </ul>
                </div>
            </nav>
        </div>
      

        <div class="footer">
            <h1>Footer</h1>
        </div>
    </div>
</body>
</html>
