
<div class="container">
    <input class="form-control" 
    type="text" #txt 
    style="width: 20%;margin-top: 7%;"/>

    <button type="button" 
    class="btn btn-success"(click)=getData(txt.value)
    style="margin-top: 5px;"
    >Get Number</button>

    <div >
        <div class="d-flex p-2">
            <div  class="display-4" style="margin-top: 10%; background-color: #85C1E9 
            ;border-radius: 5px;">
                {{quote}}
            </div>
        </div>
    </div>    
</div>