
<sw-header></sw-header>
<!-- 
<div *ngIf="randomVal>.5;else noDataBlock">
  <h1>
    {{message|uppercase}}
  </h1>
  <h2>   
    {{22/7 | number:'.3-3'}}
  </h2>
  <h3>
    {{today}}
  </h3>
</div>

<ng-template #noDataBlock> 
<div>
  No Data {{randomVal}}
</div>
</ng-template>
<sw-greet></sw-greet>
<sw-discount></sw-discount>
<sw-spinner></sw-spinner>
<sw-looping></sw-looping>
<sw-student></sw-student>
<sw-studentass></sw-studentass>//assignment on obj array and table print using ngfor
<sw-product-list></sw-product-list>

Bootstrap--
<div class="container">
  <sw-product-item></sw-product-item>
</div>
-->
<div class="container">
  {{message}}
  <sw-star [rating]="3.5" (ratingClick)="ratingClickHandler($event)"></sw-star>
  <hr/>
  <sw-star [rating]="4" (ratingClick)="ratingClickHandler($event)"></sw-star>
</div>
<sw-footer></sw-footer>
