@using WelcomeApp.ViewModel.Company
@model IndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <img src=@Model.ImgURL title="AurionPro">
        <h2>@Model.Description</h2>
        <h2>@Model.Address</h2>

    </div>
</body>
</html>
