@using WelcomeApp.ViewModel.Application
@using WelcomeApp.ViewModel.Session


@{
    var counters = ViewData["counters"] as List<int>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Summery</h1>
        <h1>Session Counter: @counters[0]</h1>
        <h1>Application Counter:@counters[1]</h1>

    </div>
</body>
</html>
